.handle-preloader {
  background: #c59d5f;
}

.preloader-close {
  color: #c59d5f;
}

.scroll-to-top .scroll-bar-text {
  color: #c59d5f;
}

.header-top .info li i {
  color: #c59d5f;
}

.header-top .info li a:hover {
  color: #c59d5f;
}

.header-top .social-links li a:hover {
  color: #c59d5f;
}

.header-top .btn-box a {
  background: #c59d5f;
}

.header-top .btn-box a:hover {
  color: #c59d5f;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a {
  color: #c59d5f;
}

.main-menu .navigation > li > a:before {
  background: #c59d5f;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover {
  color: #c59d5f;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover {
  color: #c59d5f;
}

.main-header .nav-right li:hover {
  background: #c59d5f;
}

.main-header .nav-right li a span {
  background: #c59d5f;
}

.theme-btn-one {
  background: #c59d5f;
}

.banner-carousel .content-box .special-text {
  color: #c59d5f;
}

.banner-carousel .owl-nav button:hover {
  background: #c59d5f;
}

.sec-title .sub-title {
  color: #c59d5f;
}

.sec-title h2 span {
  color: #c59d5f;
}

.menu-block-one .inner-box .single-item h4 a:hover {
  color: #c59d5f;
}

.menu-block-one .inner-box .single-item .price {
  color: #c59d5f;
}

.shop-block-one .inner-box .lower-content h5 a:hover {
  color: #c59d5f;
}

.nav-style-one .owl-nav button:hover {
  background: #c59d5f;
}

.gallery-block-one .inner-box .content-box span {
  color: #c59d5f;
}

.gallery-block-one .inner-box .content-box h4 a:hover {
  background: #c59d5f;
}

.promotion-block-one .inner-box .content-box h2 span {
  color: #c59d5f;
}

.promotion-block-one .inner-box .content-box h4 {
  color: #c59d5f;
}

.testimonial-block-one .inner-box .icon-box {
  background: #c59d5f;
}

.news-block-one .inner-box .image-box .image {
  background: #c59d5f;
}

.news-block-one .inner-box .image-box .date {
  background: #c59d5f;
}

.news-block-one .inner-box .lower-content h3 a:hover {
  color: #c59d5f;
}

.news-block-one .inner-box .lower-content .post-info li i {
  color: #c59d5f;
}

.news-block-one .inner-box .lower-content .post-info li a:hover {
  color: #c59d5f;
}

.theme-btn-two:hover {
  background: #c59d5f;
  border-color: #c59d5f;
}

.order-section .form-inner .form-group input:focus,
.order-section .form-inner .form-group textarea:focus {
  border-color: #c59d5f !important;
}

.footer-top .schedule-widget .widget-content .list li span {
  color: #c59d5f;
}

.footer-top .logo-widget .social-links li a:hover {
  background: #c59d5f;
}

.footer-top .contact-widget .info-list li span {
  color: #c59d5f;
}

.footer-top .contact-widget .info-list li a:hover {
  color: #c59d5f;
}

.footer-bottom p a:hover {
  color: #c59d5f;
}

.story-block-one .inner-box .year:after {
  background: #c59d5f;
}

.story-block-one .inner-box .lower-content h4 a:hover {
  color: #c59d5f;
}

.menu-style-two .menu-inner .single-item .price {
  color: #c59d5f;
}

.menu-style-two .menu-inner .single-item h4 a:hover {
  color: #c59d5f;
}

.video-section .video-inner .video-btn a {
  color: #c59d5f;
}

.header-style-two .header-lower .main-menu .navigation > li.current > a,
.header-style-two .header-lower .main-menu .navigation > li:hover > a {
  color: #c59d5f;
}

.header-style-two .header-lower .nav-right li:hover {
  background: #c59d5f;
}

.list-style-one li:before {
  background: #c59d5f;
}

.deal-block-one .inner-box .image-box span {
  color: #c59d5f;
}

.deal-block-one .inner-box .text h3 a:hover {
  color: #c59d5f;
}

.menu-block-two .inner-box .single-item h4 a:hover {
  color: #c59d5f;
}

.menu-block-two .inner-box .single-item .price {
  color: #c59d5f;
}

.team-block-one .inner-box .share-box .share-links li a:hover {
  background: #c59d5f;
}

.team-block-one .inner-box .lower-content h3 a:hover {
  color: #c59d5f;
}

.team-block-one .inner-box .share-box .share-icon:hover {
  background: #c59d5f;
}

.gallery-block-two .inner-box .view-btn a:hover {
  color: #c59d5f;
}

.gallery-block-two .inner-box .text p {
  color: #c59d5f;
}

.gallery-block-two .inner-box .text h3 a:hover {
  color: #c59d5f;
}

.testimonial-block-two .inner-box .icon-box {
  background: #c59d5f;
}

.testimonial-style-three .owl-nav button:hover {
  color: #c59d5f;
}

.service-block-one .inner-box .icon-box {
  color: #c59d5f;
}

.service-block-one .inner-box .icon-box:before {
  background: #c59d5f;
}

.service-block-one .inner-box h3 a:hover {
  color: #c59d5f;
}

.video-style-two .video-btn a {
  color: #c59d5f;
}

.page-title .content-box .bread-crumb li a:hover {
  color: #c59d5f;
}

.filter-tabs li:before {
  background: #c59d5f;
}

.filter-tabs li.active,
.filter-tabs li:hover {
  color: #c59d5f;
}

.team-details-content .team-info .designation {
  color: #c59d5f;
}

.team-details-content .team-info .info-list li a:hover {
  color: #c59d5f;
}

.team-details-content .team-info .social-links li a:hover {
  background: #c59d5f;
}

.progress-box .bar-inner {
  background: #c59d5f;
}

.progress-box .bar-inner:before {
  border: 5px solid #c59d5f;
}

.team-details-content .contact-inner .form-inner .form-group input:focus,
.team-details-content .contact-inner .form-inner .form-group textarea:focus {
  border-color: #c59d5f !important;
}

.testimonial-block-three .inner-box .thumb-box:before {
  background: #c59d5f;
}

.accordion-box .block .acc-btn h5 span {
  color: #c59d5f;
}

.faq-form-section .form-inner .form-group input:focus,
.faq-form-section .form-inner .form-group textarea:focus {
  border-color: #c59d5f !important;
}

.error-section .inner-box h1 {
  color: #c59d5f;
}

.shop-page-section .item-shorting .right-column .menu-box button.on {
  background: #c59d5f;
  border-color: #c59d5f;
}

.shop-details-content .image-box:hover {
  border-color: #c59d5f;
}

.shop-details-content .content-box h4 {
  color: #c59d5f;
}

.shop-details-content .content-box .customer-rating .review a:hover {
  color: #c59d5f;
}

.shop-details-content .addto-cart-box .like-box a:hover {
  background: #c59d5f;
  border-color: #c59d5f;
}

.shop-details-content .other-option li a:hover {
  color: #c59d5f;
}

.default-form input:focus,
.default-form textarea:focus {
  border-color: #c59d5f !important;
}

.shop-details .product-discription .tab-btn-box .tab-btns li:before {
  background: #c59d5f;
}

.shop-details .product-discription .tab-btn-box .tab-btns li.active-btn,
.shop-details .product-discription .tab-btn-box .tab-btns li:hover {
  color: #c59d5f;
}

.cart-section .cart-table tbody tr .prod-column .column-box .remove-btn:hover {
  background: #c59d5f;
  border-color: #c59d5f;
}

.cart-section .othre-content .coupon-box input:focus {
  border-color: #c59d5f !important;
}

.checkout-section .upper-box .single-box a {
  color: #c59d5f;
}

.checkout-section .billing-form .form-group input:focus {
  border-color: #c59d5f !important;
}

.checkout-section .additional-info .note-book textarea:focus {
  border-color: #c59d5f !important;
}

.checkout-section
  .payment-info
  .payment-inner
  .custom-controls-stacked
  .description
  a:hover {
  color: #c59d5f;
}

.news-block-one .inner-box .lower-content h2 a:hover {
  color: #c59d5f;
}

.blog-sidebar .search-widget .search-inner .form-group input:focus {
  border-color: #c59d5f !important;
}

.blog-sidebar .search-widget .search-inner .form-group input:focus + button,
.blog-sidebar .search-widget .search-inner .form-group button:hover {
  color: #c59d5f;
}

.blog-sidebar .category-widget .category-list li a:hover {
  color: #c59d5f;
}

.blog-sidebar .category-widget .category-list li a:before {
  color: #c59d5f;
}

.blog-sidebar .post-widget .post .post-thumb {
  background: #c59d5f;
}

.blog-sidebar .post-widget .post h4 a:hover {
  color: #c59d5f;
}

.blog-sidebar .post-widget .post .post-date i {
  color: #c59d5f;
}

.blog-sidebar .tags-widget .tags-list li a:hover {
  background: #c59d5f;
  border-color: #c59d5f;
}

.blog-details-content blockquote {
  border-left: 3px solid #c59d5f;
}

.blog-details-content .post-tags .tags-list li a:hover {
  color: #c59d5f;
}

.blog-details-content .comment-box .comment .comment-info .reply-btn {
  color: #c59d5f;
}

.contact-section .info-inner .info-list li i {
  color: #c59d5f;
}

.contact-section .info-inner .info-list li p a:hover {
  color: #c59d5f;
}

.contact-section .form-inner .form-group input:focus,
.contact-section .form-inner .form-group textarea:focus {
  border-color: #c59d5f !important;
}
